/* 
 * CSS Kustom untuk tema PaperMod
 */

/* Menghilangkan latar belakang 'card' pada daftar postingan di homepage */
.main .post-entry {
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}
